<!-- this is the search page  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">

    <title>Search</title>
</head>

<body>
   <header>
       <h1>Search for digimons </h1>
   </header>
<main>

<form class="search" action="/search" method="GET">
    <label for="">search for Digimons  </label>
    <input type="text" name="digimonsName" required>
    <label for="">search for name</label>
    <input type="radio" name="name" value="name" required>
    <label for="">search for level</label>
    <input type="radio" name="name" value="level" required>
    <input type="submit" value="search ">
</form>
</main>
</body>
</html>